<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio DM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/base.css">
</head>
<body class="mapa-body">
  <div class="login-box">
    <h1>🎲 Inicio de sesión DM</h1>
    <label for="dmName">Nombre del DM:</label><br>
    <input type="text" id="dmName"><br><br>
    <label for="monitorList">Selecciona monitor para mapa:</label><br>
    <select id="monitorList"></select><br><br>
    <button class="btn" onclick="enviarDatos()">Iniciar</button>
  </div>
  <script src="js/index.js"></script>
</body>
</html>