
.tabs {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  border-bottom: 2px solid #333;
}

.tab-button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  padding: 14px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.tab-button:hover {
  color: #fff;
}

.tab-button.active {
  color: #fff;
  border-bottom: 3px solid #00bcd4;
  font-weight: bold;
}

.tab-content {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.tab-content.active {
  opacity: 1;
  pointer-events: auto;
}

.fila-contenido {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.bloque {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
  min-width: 200px;
  color: #fff;
  flex: 1;
}

.bloque-reproductor {
  flex: 2;
  min-width: 300px;
}
