body {
  margin: 0;
  font-family: sans-serif;
  background: url('../../assets/img/Fondo.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  width: 400px;
  margin: 100px auto;
  border-radius: 10px;
}